@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fondamento:ital@0;1&family=Leckerli+One&family=Pacifico&family=Passion+One:wght@400;700;900&family=Qwigley&family=Righteous&family=VT323&display=swap');
/*!---BASE-CSS-START---!*/

head
{
    font-weight : bold;
}

body
{
    height : auto;
    font-family: 'Leckerli One', cursive;
    font-weight: bold;
}
/*!---BASE-CSS-END---!*/

.logo0
{
    font-size: 35px;
    margin-top: 1cm;
    margin-right: 0cm;
}

.logo1
{
    font-size: 25px;
}

/*!---NAVBAR-BASLANGİC---!*/

.navbar
{
    list-style: none;
    gap: 30px;
    background-color : rgb(255, 255, 255);
    height : 60px;
    color: rgb(255, 196, 0);
    text-shadow: 1px 1px 2px rgb(38, 0, 255), 0 0 25px rgb(68, 0, 255), 0 0 5px darkblue;
    position : fixed;
    top : 0;
    left: 0;
    right: 0;
    box-shadow: 10px 10px 5px 12px rgb(127, 255, 212);
    
}

.navbar-wrapper
{
    text-align: center;
    animation-name: logo;
    animation-duration: 20s;
    animation-delay: 2s;
    animation-iteration-count:infinite;
    justify-content: space-between;
    align-items: center;
    height : 100%;
    padding : 0 50px;
}

@keyframes logo
{
    0%   {color:rgb(255, 174, 0); left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    50%  {color:rgb(0, 255, 170); left:200px; top:200px;}
    75%  {color:rgb(62, 145, 253); left:0px; top:200px;}
    90% {color:rgb(255, 155, 205); left:0px; top:0px;}
    100%   {color:rgb(255, 174, 0); left:0px; top:0px;}
}

/*!---MENU-LİST-BASLANGİC---!*/

.menu-list
{
    list-style: none;
    column-gap: 0px;
    position: relative;
    right: 0cm;
    top: -3cm;
}

a
{
    color: white;
    text-decoration:none;
    text-align: center;
}
.menu-list-item
{
    cursor:pointer;
    list-style: none;
    text-align: center;
}
.menu-list-item:hover
{
    color:rgb(255, 208, 0);
    animation-name: menulist;
    animation-duration: 10s;
    transition: 1s;
    animation-delay:1s;
    animation-iteration-count: infinite;
}
@keyframes menulist
{   
    0%   {color:rgb(255, 174, 0); left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    50%  {color:rgb(0, 255, 170); left:200px; top:200px;}
    75%  {color:rgb(62, 145, 253); left:0px; top:200px;}
    90% {color:rgb(255, 155, 205); left:0px; top:0px;}
    100%   {color:rgb(255, 174, 0); left:0px; top:0px;}
}

.menu-list hr
{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-left-color: rgb(0, 47, 255);
    border-right-color: rgb(0, 47, 255);
}

/*!---MENU-LİST-BİTİS---!*/

/*!---NAVBAR-BİTİS---!*/

/*!---MAİN-BASLANGIC---!*/
.main 
{
    width: 30cm;
    margin-left: 200px; 
    padding: 0px 10px;
    top : 2cm;
    margin-top: 100px;
    text-align: center;
    font-family: 'righteous', cursive;
    background-color : rgb(255, 255, 255);
    height : auto;
    color:rgb(0, 0, 0);
    /*text-shadow: 1px 1px 2px rgb(38, 0, 255), 0 0 25px rgb(68, 0, 255), 0 0 5px darkblue;
    */
}
.menu-container .menu-list{
    align-items: center ;
    display: flex;
}
.container 
{
    margin-top: 7cm;
    width:auto;
    top: 2cm;
    margin-left: 10cm;
    z-index: 1;
    background-color : rgb(255, 255, 255);
    font-weight: bold;
}
h1
{
    background-color: rgb(0, 255, 191);
    font-weight: bold;
    color:rgb(255, 255, 255);
}
/*!---MAİN-LİST-BASLANGİC---!*/
.main-list-item
{
    cursor:pointer;
    background-color : rgb(255, 255, 255);
    height : 60px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(38, 0, 255), 0 0 25px rgb(68, 0, 255), 0 0 5px darkblue;
    
}
.main-list-item:hover
{
    color:rgb(255, 208, 0);
    animation-name: mainlist;
    animation-duration: 10s;
    transition: 1s;
    animation-delay:1s;
    animation-iteration-count: infinite;
}
.container img:hover 
{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
     transform: scale(1.2); 
}
@keyframes mainlist
{   
    0%   {color:rgb(255, 174, 0); left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    50%  {color:rgb(0, 255, 170); left:200px; top:200px;}
    75%  {color:rgb(62, 145, 253); left:0px; top:200px;}
    90% {color:rgb(255, 155, 205); left:0px; top:0px;}
    100%   {color:rgb(255, 174, 0); left:0px; top:0px;}
}
/*!---MAİN-LİST-BİTİS---!*/

/*!---MAİN-BİTİS---!*/

/*!---SİDE-BAR-BASLANGİC---!*/
.sidebar
{
    left: 0;
    top: 2cm;
    z-index: 1;
    display:block;
    background-color : rgb(255, 255, 255);
    color:white;
    height: 100%;
    width : 60px;
    box-shadow: 10px 10px 5px 12px rgb(127, 255, 212);
    position: fixed;
}
.sidebar-wrapper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 0 50px;
}

.left-menu-list
{
    display:flex;
    list-style:none;
    column-gap:30px;
    z-index: 1;
    top: 0;
    left: 0;
}

/*!---SİDE-BAR-BİTİS---!*/

@keyframes prfl
{
    0%   {color:rgb(255, 174, 0); left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    50%  {color:rgb(0, 255, 170); left:200px; top:200px;}
    75%  {color:rgb(62, 145, 253); left:0px; top:200px;}
    100% {color:rgb(255, 155, 205); left:0px; top:0px;}
}
